.option-range-fontscale {
  height: 2px;
  margin-right: 12px;
  width: 50%;
  background-color: var(--color__orange--light);
  cursor: pointer;
  -webkit-appearance: none;
  outline: none !important;
  box-shadow: none !important;
}
