/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;

  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  right: 60px;
  top: 5px;

  line-height: 20px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: attr(data-name);
  display: flex;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  animation: var(--animation__slide_in--left);
  background-color: var(--color__white);
  color: black;
  justify-content: center;
  line-height: 28px;
}
